.login {
  width: 300px;

  .ant-form-item {
    margin-bottom: 10px;
  }

  &__button {
    width: 100%;

    &--primary.ant-btn {
      font-weight: bold;
    }
    &--secondary.ant-btn {
      $button-bg-secondary: rgba(0,0,0,0.8);
      $button-color-secondary: white;
      background-color: $button-bg-secondary;
      color: $button-color-secondary;
      &:hover {
        border-color: transparent;
        background-color: $button-bg-secondary;
        color: $button-color-secondary;
      }
    }
  }
}