.container {
  width: 1200px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;

  .logo-icon {
    font-size: 36px;
    color: black;
    margin-bottom: 20px;
  }

  .logo-image {
    margin-bottom: 20px;    
  }
}