@import 'styles/_mixins.scss';

.home {
  margin: 0 auto;
}

.header {
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
  &__user {
    font-size: 24px;
  }
}

.content {  
  background-color: rgb(250, 250, 250);
  padding-top: 20px;

  &__container {
    display: flex;
    justify-content: space-between;
  }
}